<!-- later add canvas 100% to #u1-2-2 --> 
<!-- possibly later add background-image layer(s) to divs in #u1-2-2 --> 
<!-- NOTE: only for some templates - for exp: template2 has no images-->
<div class='t2' id='u1-2-2' >
    <p style="text-align:center">{{correct}}</p>
    <span ng-repeat="item in words" style="text-align:center">
        </br></br>
        <div>
            <button ng-disabled="disabled" ng-click=chosen(item)>{{item}}</button>
        </div>
    </span>
</div>


<!-- NOTE: dynamically attach eventListeners for 'onended' -->
<!-- D010, hat, bat (correct). Note: this is also vo for ex0-->
<div id='dvo'>
  <audio id='directions' preload="auto" src="../units/audio/t2/dvo/D010.mp3"></audio>
  <audio id='incorrect' preload="auto" src="../units/audio/t2/dvo/incorrect.mp3"></audio>
  <audio id='correct' preload="auto" src="../units/audio/t2/dvo/correct.mp3"></audio>
</div>

<!-- vo for correct word = unit['exercise']['words'][k][0] k=1 to 6-->
<div id='vo'>
  <audio id='w1' preload="auto" src="../units/audio/t2/u1-2-2/w1.mp3"></audio>
  <audio id='w2' preload="auto" src="../units/audio/t2/u1-2-2/w2.mp3"></audio>
  <audio id='w3' preload="auto" src="../units/audio/t2/u1-2-2/w3.mp3"></audio>
  <audio id='w4' preload="auto" src="../units/audio/t2/u1-2-2/w4.mp3"></audio>
  <audio id='w5' preload="auto" src="../units/audio/t2/u1-2-2/w5.mp3"></audio>
  <audio id='w6' preload="auto" src="../units/audio/t2/u1-2-2/w6.mp3"></audio>
  <audio id='w7' preload="auto" src="../units/audio/t2/u1-2-2/w7.mp3"></audio>
</div>

